
CompareThreeNumbers/.vs/CompareThreeNumbers/v16/.suo
*.lock
CompareThreeNumbers/.vs/CompareThreeNumbers/v16/Server/sqlite3/storage.ide
CompareThreeNumbers/.vs/CompareThreeNumbers/v16/Server/sqlite3/storage.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
CompareThreeNumbers/CompareThreeNumbers/obj/Debug/netcoreapp3.0/CompareThreeNumbers.AssemblyInfo.cs
CompareThreeNumbers/CompareThreeNumbers/obj/Debug/netcoreapp3.0/CompareThreeNumbers.csproj.FileListAbsolute.txt
CompareThreeNumbers/.vs/CompareThreeNumbers/DesignTimeBuild/.dtbcache
DemoORAndAND/.vs/DemoORAndAND/v16/.suo
*.ide
*.ide-shm
DemoORAndAND/DemoORAndAND/obj/Debug/netcoreapp3.0/DemoORAndAND.AssemblyInfo.cs
DemoORAndAND/DemoORAndAND/obj/Debug/netcoreapp3.0/DemoORAndAND.csproj.FileListAbsolute.txt
Admission/.vs/Admission/v16/.suo
Admission/Admission/obj/Debug/netcoreapp3.0/Admission.AssemblyInfo.cs
Admission/Admission/obj/Debug/netcoreapp3.0/Admission.csproj.FileListAbsolute.txt
DemoORAndAND/.vs/DemoORAndAND/DesignTimeBuild/.dtbcache
Admission/.vs/Admission/DesignTimeBuild/.dtbcache
GuessingGame/.vs/GuessingGame/v16/.suo
GuessingGame/GuessingGame/obj/Debug/netcoreapp3.0/GuessingGame.AssemblyInfo.cs
GuessingGame/GuessingGame/obj/Debug/netcoreapp3.0/GuessingGame.csproj.FileListAbsolute.txt
